<div class="landing" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Titulo 1</h1>
    <p>Parrafo mas largo que el titulo</p>
  </section>
  <section>
    <h1>Titulo 2</h1>
    <p>Parrafo mas largo que el titulo</p>
  </section>
  <section>
    <h1>Titulo 3</h1>
    <p>Parrafo mas largo que el titulo</p>
  </section>
</div>
<!-- //TODO: Cambiar la landing por la final. O hacer directo el redirect a Login/Register o Dashboard -->
