<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idHost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Host </th>
      <td mat-cell *matCellDef="let row"> {{ row.idHost }} </td>
    </ng-container>

    <ng-container matColumnDef="propertyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Property Name </th>
      <td mat-cell *matCellDef="let row"> {{ propertiesService.getPropertyByID(row.idProperty).name }} </td>
    </ng-container>

    <ng-container matColumnDef="guestName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> GuestName </th>
      <td mat-cell *matCellDef="let row"> {{ row.guest.fullName }} </td>
    </ng-container>

    <ng-container matColumnDef="checkinDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Checkin Date </th>
      <td mat-cell *matCellDef="let row"> {{ row.checkingDateTime | date:'MMM d, y - h:mm a'  }} </td>
    </ng-container>

    <ng-container matColumnDef="checkoutDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Checkout Date </th>
      <td mat-cell *matCellDef="let row"> {{ row.checkoutDateTime | date:'MMM d, y - h:mm a'  }} </td>
    </ng-container>

    <!--
    <ng-container matColumnDef="checkoutDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Checkout Date </th>
        <td mat-cell *matCellDef="let row">    <mat-form-field>
            <input
              matInput
              type="checkout"
              name="checkout"
              formControlName="checkout"
              required
              [matDatepicker]="checkout"
              value=" {{ row.checkoutDateTime | date:'MMM d, y - h:mm a'  }} ">
            <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
            <mat-datepicker #checkout></mat-datepicker>
          </mat-form-field></td>
      </ng-container>
    -->


    <ng-container matColumnDef="expensesPaid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expenses Pre Paid </th>
      <td mat-cell *matCellDef="let row"> {{ row.expensesPaid }} </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let row"><mat-icon style="cursor: pointer;" matSuffix (click)="editCheckin(row)">mode_edit</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<app-property-create-edit [idProperty]="property.idProperty"></app-property-create-edit>

<!-- <form [formGroup]= "propertyForm">
  <mat-form-field *ngFor="let inputF of inputs">
      <input
      matInput
      type="{{ inputF.name }}"
      name="{{ inputF.name }}"
      formControlName="{{ inputF.name }}"
      placeholder="{{ inputF.name }} -> Translate"
      (focusin)="onFieldFocusIn($event)"
      (focusout)="onFieldFocusOut($event)"
      (keyup.enter)="onFieldPressEnter($event)"
      value="{{ inputF.value }}" >
    <mat-icon style="cursor: pointer;" *ngIf="!focus[inputF.name]" matSuffix>mode_edit</mat-icon>
    <mat-icon style="cursor: pointer;" *ngIf="focus[inputF.name]" matSuffix>done</mat-icon>
  </mat-form-field>
</form> -->
