<mat-nav-list>
    <a *ngIf="!(isAuth$ | async)" mat-list-item [routerLink]="['/signup']" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">{{ 'TITLES.SIGNUP' | translate }}</span>
    </a>
    <a *ngIf="!(isAuth$ | async)"  mat-list-item [routerLink]="['/signin']" (click)="onClose()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">{{ 'TITLES.SIGNIN' | translate }}</span>
    </a>
    <a *ngIf="isAuth$ | async"  mat-list-item [routerLink]="['/properties']" (click)="onClose()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">{{ 'TITLES.PROPERTIES' | translate }}</span>
    </a>
    <!-- <mat-list-item  *ngIf="isAuth">
      <button mat-icon-button>
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">{{ 'TITLES.SIGNOUT' | translate }}</span>
      </button>
    </mat-list-item> -->
    <!-- Routerlink se usa en Signout por un tema de estilos
    Si se saca, no anda bien el mosueover cuando se achica la pantalla -->
    <a *ngIf="isAuth$ | async"  mat-list-item  [routerLink]="['/']" (click)="onSignOut()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">{{ 'TITLES.SIGNOUT' | translate }}</span>
    </a>
  </mat-nav-list>
