<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
    [formGroup]= "newCheckinForm">
    <mat-form-field>
      <mat-select
        type="propertySelect"
        name="propertySelect"
        formControlName="propertySelect"
        required
        placeholder="{{ 'CHECKIN.PROPERTY_SELECT' | translate }}">
        <mat-option *ngFor="let property of propertiesService.properties"  [value]="property.idProperty">
            {{ property.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!!newCheckinForm.controls.propertySelect.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field *ngFor="let guestField of guestInputs">
      <input
      matInput
      type="{{ guestField }}"
      name="{{ guestField }}"
      formControlName="{{ guestField }}"
      required
      placeholder="{{ 'CHECKIN.' + guestField | uppercase | translate }}">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="checkin"
      name="checkin"
      formControlName="checkin"
      required
      [matDatepicker]="checkin"
      placeholder="{{ 'CHECKIN.CHECKIN' | translate }}">
    <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
    <mat-datepicker #checkin></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      matInput
      type="checkout"
      name="checkout"
      formControlName="checkout"
      required
      [matDatepicker]="checkout"
      placeholder="{{ 'CHECKIN.CHECKOUT' | translate }}">
    <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
    <mat-datepicker #checkout></mat-datepicker>
  </mat-form-field>

  {{ 'CHECKIN.EXPENSES_PAID' | translate }}
  <mat-radio-group
    fxLayout="column"
    fxLayoutAlign="center left"
    fxLayoutGap="10px"
    formControlName="expensesPaid"
    required>
    <mat-radio-button value="1">YES -> Translate</mat-radio-button>
    <mat-radio-button value="2">NO -> Translate 2</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <textarea
      matInput
      type="notes"
      name="notes"
      formControlName="notes"
      placeholder="{{ 'CHECKIN.NOTES' | translate }}"
      rows="4"></textarea>
  </mat-form-field>

    <button
    type="submit"
    name="submit"
    mat-raised-button
    color="primary"
    [disabled]="newCheckinForm.invalid">
    {{ 'FORM_COMMON.SUBMIT' | translate }}
  </button>
  </form>
</section>
