<div
  class="div-logo"
  fxLayout="column"
  fxLayoutAlign="center center">
  <img width="300px"  class="img-responsive" src="https://preview.ibb.co/gHNaYU/pini_rental_logo_7.png" alt="Pini Rental Logo">
</div>
<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.EMAIL' | translate }}"
        ngModel
        type="email"
        name="email"
        email
        required
        #email="ngModel">
        <mat-error *ngIf="email.hasError('required')">{{ 'SIGNUP-IN.FIELDEMPTYERROR' | translate }}</mat-error>
        <mat-error *ngIf="email.hasError('email')">{{ 'SIGNUP-IN.EMAILINVALID' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="{{ 'SIGNUP-IN.MINPASSWORD' | translate:{value : '6'} }}">
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.PASSWORD' | translate }}"
        ngModel
        type="password"
        name="password"
        password
        required
        minlength="6"
        #password="ngModel">
        <mat-hint align="end">{{ password.value?.length }}/6</mat-hint> <!-- TODO: Pasar minlength a Archivo de configuracion -->
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.FIRST_NAME' | translate }}"
        ngModel
        type="first_name"
        name="first_name"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.LAST_NAME' | translate }}"
        ngModel
        type="last_name"
        name="last_name"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.PHONE' | translate }}"
        ngModel
        type="phone"
        name="phone">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.ADDRESS' | translate }}"
        ngModel
        type="address"
        name="address">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.STATE' | translate }}"
        ngModel
        type="state"
        name="state">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'SIGNUP-IN.COUNTRY' | translate }}"
        ngModel
        type="country"
        name="coutnry">
    </mat-form-field>
    <button *ngIf="!isLoading"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid">
      {{ 'SIGNUP-IN.SUBMIT' | translate }}
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
<section>
