<div
  class="div-logo"
  fxLayout="column"
  fxLayoutAlign="center center">
  <img width="300px"  class="img-responsive" src="https://preview.ibb.co/gHNaYU/pini_rental_logo_7.png" alt="Pini Rental Logo">
</div>
<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.EMAIL' | translate }}"
        ngModel
        type="email"
        name="email"
        email
        required
        #email="ngModel">
        <mat-error *ngIf="email.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
        <mat-error *ngIf="email.hasError('email')">{{ 'FORM_COMMON.EMAILINVALID' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="{{ 'FORM_COMMON.MINPASSWORD' | translate:{value : minPasswordLength} }}">
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.PASSWORD' | translate }}"
        ngModel
        type="password"
        name="password"
        password
        required
        [minlength]=minPasswordLength
        #password="ngModel">
        <mat-hint align="end">{{ password.value?.length }}/{{ minPasswordLength }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.FIRST_NAME' | translate }}"
        ngModel
        type="first_name"
        name="first_name"
        required
        #first_name="ngModel">
        <mat-error *ngIf="first_name.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.LAST_NAME' | translate }}"
        ngModel
        type="last_name"
        name="last_name"
        required
        #last_name="ngModel">
        <mat-error *ngIf="last_name.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.PHONE' | translate }}"
        ngModel
        type="phone"
        name="phone"
        required
        #phone="ngModel">
        <mat-error *ngIf="phone.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.STREET' | translate }}"
        ngModel
        type="street"
        name="street"
        required
        #street="ngModel">
        <mat-error *ngIf="street.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          placeholder="{{ 'FORM_COMMON.APARTMENT' | translate }}"
          ngModel
          type="apartment"
          name="apartment"
          required
          #apartment="ngModel">
          <mat-error *ngIf="apartment.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.CITY' | translate }}"
        ngModel
        type="city"
        name="city"
        required
        #city="ngModel">
        <mat-error *ngIf="city.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.STATE' | translate }}"
        ngModel
        type="state"
        name="state"
        required
        #state="ngModel">
        <mat-error *ngIf="state.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.COUNTRY' | translate }}"
        ngModel
        type="country"
        name="country"
        required
        #country="ngModel">
        <mat-error *ngIf="country.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async) && !(isAuth$ | async)"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid">
      {{ 'FORM_COMMON.SUBMIT' | translate }}
    </button>
    <mat-spinner diameter="35" strokeWidth="5"  *ngIf="(isLoading$ | async) || (isAuth$ | async)"></mat-spinner> <!-- Diameter 35 = Button Height -->
  </form>
<section>
<!-- Space for the snackBar. So it doesn't blocks the Register Button -->
<div style="height: 50px;"></div>
