<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
    [formGroup]= "newPropertyForm">
    <mat-form-field *ngFor="let inputName of inputs">
        <input
        matInput
        type="{{ inputName }}"
        name="{{ inputName }}"
        formControlName="{{ inputName }}"
        placeholder="{{ inputName }} -> Translate">
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="newPropertyForm.invalid">
      {{ 'SIGNUP-IN.SUBMIT' | translate }}
    </button>
  </form>
</section>
