<!--
<h2>{{ 'HOME.TITLE' | translate }}</h2>
<h2>{{ 'HOME.TITLE2' | translate:{value : 'asd'} }}</h2>
<button mat-raised-button color="accent">
  <mat-icon>home</mat-icon> Click me!
</button>
<button mat-icon-button color="accent">
  <mat-icon>home</mat-icon>
</button>
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm the sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Logo</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a [routerLink]="['/signup']">{{ 'SIGNUP-IN.SIGNUP' | translate }}</a></li>
          <li><a [routerLink]="['/signin']">{{ 'SIGNUP-IN.SIGNIN' | translate }}</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
