<!--
<h2>{{ 'HOME.TITLE' | translate }}</h2>
<h2>{{ 'HOME.TITLE2' | translate:{value : 'asd'} }}</h2>
<button mat-raised-button color="accent">
  <mat-icon>home</mat-icon> Click me!
</button>
<button mat-icon-button color="accent">
  <mat-icon>home</mat-icon>
</button>
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm the sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <div><button (click)="sidenav.toggle()">Toggle Sidenav</button></div>
        <div>Logo</div>
        <div>
          <a [routerLink]="['/signup']">Signup</a>
          <a [routerLink]="['/signin']">Signin</a>
          <a [routerLink]="['/signup']">Signup</a>
        </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
