<!--
<h2>{{ 'HOME.TITLE' | translate }}</h2>
<h2>{{ 'HOME.TITLE2' | translate:{value : 'asd'} }}</h2>
<button mat-raised-button color="accent">
  <mat-icon>home</mat-icon> Click me!
</button>
<button mat-icon-button color="accent">
  <mat-icon>home</mat-icon>
</button>
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
