<!-- Buttons -->
<!-- TODO: Mejorar fxFlex para que los botones esén separados en xs (cuando están uno a la derecha del otro) -->
<section fxLayout="row wrap" fxLayoutAlign.xs="center center" fxLayoutGap.xs="0px" fxLayoutAlign="space-evenly center center" fxLayoutGap="20px"> <!-- fxLayoutGap="20px" -->
  <button fxFlex="1 1 200px" mat-button mat-raised-button color="primary" (click)="onAddPropertyClick()">
    {{ 'PROPERTIES.ADDPROPERTY' | translate }}
  </button>

<!-- provides space between buttons in xs screens -->
<!-- <div [ngStyle.xs]="{'height': '50px'}"></div> -->

  <button fxFlex="1 1 200px" mat-button mat-raised-button color="primary" (click)="onAddMockPropertyClick()">
    {{ 'PROPERTIES.ADDMOCKPROPERTY' | translate }}
  </button>

<!-- provides space between buttons in xs screens -->
<!-- <div [ngStyle.xs]="{'height': '50px'}"></div> -->

  <button fxFlex="1 1 200px" mat-button mat-raised-button color="primary" (click)="onAddGuestClick()">
    {{ 'PROPERTIES.REGISTERGUEST' | translate }}
  </button>
</section>

<!-- Property List -->
<div style="padding: 10px"></div>
<section fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center">
  <div *ngFor="let property of properties" fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-header>
        <div (click)="onPropertyCardClick(property.idProperty)" mat-card-avatar [ngStyle]="{backgroundImage: getCover(property), backgroundSize: 'cover'}"></div>
        <mat-card-title fxLayoutAlign="center">{{ property.name }}</mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image style="cursor: pointer;" src="{{ property.cover }}" alt="{{ 'PROPERTIES.ALTPROPERTYCOVER' | translate }}" (click)="onPropertyClick(property.idProperty)">
      <mat-card-content  fxLayoutAlign="left">
        Available<br><br>
        Next Checkin: May 31th, 2018
      </mat-card-content>
      <mat-card-actions  fxLayoutAlign="center">
        <button style="cursor: pointer;" (click)="onPropertyClick(property.idProperty)"  mat-button>{{ 'PROPERTIES.EDITDETAILS' | translate | uppercase }}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
