<!--TODO: Ver como transformar este código en un 'componente?' de forma de evitar duplicarlo cada vez que se muesre -->
<div
  class="div-logo"
  fxLayout="column"
  fxLayoutAlign="center center">
  <img width="300px"  class="img-responsive" src="https://preview.ibb.co/gHNaYU/pini_rental_logo_7.png" alt="Pini Rental Logo">
</div>
<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
    [formGroup]= "loginForm">
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.EMAIL' | translate }}"
        type="email"
        name="email"
        formControlName="email">
      <mat-error *ngIf="!!loginForm.controls.email.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
      <mat-error *ngIf="!!loginForm.controls.email.hasError('email')">{{ 'FORM_COMMON.EMAILINVALID' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'FORM_COMMON.PASSWORD' | translate }}"
        type="password"
        name="password"
        formControlName="password">
        <mat-error *ngIf="!!loginForm.controls.password.hasError('required')">{{ 'FORM_COMMON.FIELDEMPTYERROR' | translate }}</mat-error>
    </mat-form-field>
    <!-- Double logic to avoid a milisecond when the Submit button appears after logging in and before showing the next screen -->
    <button *ngIf="!isLoading && !isAuth"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid">
      {{ 'FORM_COMMON.SUBMIT' | translate }}
    </button>
    <mat-spinner diameter="35" strokeWidth="5"  *ngIf="isLoading || isAuth"></mat-spinner>
  </form>
</section>
